@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Teko:wght@300;400&display=swap");
:root {
  --clr-gray: #c0bda5;
  --clr-dark: #272727;
  --clr-b-pink: #cc978e;
  --clr-a-pink: #e85f5c;
  --clr-orange: #ee8855;
  --clr-white: #ffffff;
  --p-font: "Teko", sans-serif;
  --heading-font: "Rubik", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
p {
  font-family: var(--p-font);
}
h1,
h2,
h3 {
  font-family: var(--heading-font);
}
body {
  width: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
header {
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-orange);
  color: var(--clr-white);
  position: sticky;
  top: 0;
  z-index: 100;
}
nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
nav > div {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  gap: 1rem;
}
header h1 {
  margin: auto 0;
}
header ul {
  list-style: none;
  display: inline-flex;
  margin: auto 0;
  gap: 0.7rem;
}
header img {
  max-width: 20%;
}
header a {
  font-family: var(--p-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--clr-white);
}
main {
  background-color: var(--clr-gray);
  padding: 1rem;
}
main img {
  max-width: 90%;
}
main h1 {
  margin: 0 auto;
  width: fit-content;
}
.teachers {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-gray);
  align-items: center;
  gap: 2rem;
  margin-block: 1rem;
}
.teacher {
  background-color: var(--clr-dark);
  width: calc(100% - 10rem);
  border-radius: 20px;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 150px 1fr;
}
.details ul{
    list-style:none;
    font-family: var(--p-font);
    font-size: 1.3rem;
}.details{
    display: grid;
    align-content: center;
}
footer {
    background-color: var(--clr-dark);
    display: flex;
    padding: 1rem;
  }
  footer h3 {
    color: var(--clr-orange);
    width: 10ch;
  }
  footer ul {
    display: inline-flex;
    list-style: none;
    gap: 1rem;
  }
  footer li {
    display:flex;
    align-items: center;
    justify-content:space-between;  
  }
  a {
    color: var(--clr-gray);
    font-family: var(--p-font);
    font-size:1.4rem;
  }
  footer img {
    display: inline;
    width: 35px;
  }
  .icons {
    display: flex;
  }


