@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Teko:wght@300;400&display=swap");
:root {
  --clr-gray: #c0bda5;
  --clr-dark: #272727;
  --clr-b-pink: #cc978e;
  --clr-a-pink: #e85f5c;
  --clr-orange: #ee8855;
  --clr-white: #ffffff;
  --p-font: "Teko", sans-serif;
  --heading-font: "Rubik", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
p {
  font-family: var(--p-font);
}
h1,
h2,
h3 {
  font-family: var(--heading-font);
}
body {
  width: 100%;
}
div#doc {
  filter: blur(0px);
}
body::-webkit-scrollbar {
  display: none;
}
header {
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-orange);
  color: var(--clr-white);
  position: sticky;
  top: 0;
  z-index: 100;
}
nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
nav > div {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  gap: 1rem;
}
header h1 {
  margin: auto 0;
}
header ul {
  list-style: none;
  display: inline-flex;
  margin: auto 0;
  gap: 0.7rem;
}
header img {
  max-width: 20%;
}
header a {
  font-family: var(--p-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--clr-white);
}

main {
  background-color: var(--clr-dark);
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
main img {
  width: 100%;
  min-width: 280px;
}
main h1 {
  color: var(--clr-orange);
  margin-bottom: 0.6rem;
  font-size: 2rem;
  font-size: clamp(2rem, 1.391304347826087rem + 2.782608695652174vw, 4rem);
}
main div {
  padding: 1.5rem;
  height: fit-content;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr fit-content 1fr;
}
main p {
  color: var(--clr-gray);
  font-family: var(--p-font);
  font-size: 1.3rem;
  font-size: clamp(1.3rem, 1.0869565217391304rem + 0.9739130434782608vw, 2rem);
}
main a {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 3px;
  font-family: var(--p-font);
  font-size: 1.3rem;
  font-size: clamp(
    1.3rem,
    0.9652173913043479rem + 1.5304347826086955vw,
    2.4rem
  );
  color: var(--clr-dark);
  width: max-content;
  background-color: var(--clr-orange);
  margin-top: 1rem;
}
.quote {
  background: var(--clr-orange);
  padding: 1.2rem;
  border-radius: 2rem;
}
.quote img {
  width: 30%;
}
.quote div {
  display: flex;
  align-items: center;
  color: var(--clr-white);
}
.quote p {
  font-size: 1.3rem;
  font-size: clamp(
    1.3rem,
    0.9652173913043479rem + 1.5304347826086955vw,
    2.4rem
  );
  color: var(--clr-dark);
}
section {
  background-color: var(--clr-gray);
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  align-items: center;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
}
footer {
  background-color: var(--clr-dark);
  display: flex;
  padding: 1rem;
}
footer h3 {
  color: var(--clr-orange);
  width: 10ch;
}
footer ul {
  display: inline-flex;
  list-style: none;
  gap: 1rem;
}
footer li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer a {
  color: var(--clr-gray);
  font-family: var(--p-font);
  font-size: 1.4rem;
}
footer img {
  display: inline;
  width: 35px;
}
.icons {
  display: flex;
}
